@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff9ea;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px 0;
    box-sizing: border-box;
}

.container {
    background: white;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: black;
    padding: 30px 40px;
    border-radius: 10px;
    width: 450px;
    max-width: 90%;
    text-align: center;
}

h1 {
    color: black;
    margin-bottom: 25px;
    font-size: 24px;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 12px 12px 12px 40px;
    box-sizing: border-box;
    font-size: 16px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 5px;
    color: black;
    border-bottom: 2px solid #ffcb45;
}

.input-box input::placeholder {
    color: black;
    opacity: 0.8;
}

.input-box i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #ffcb45;
}

.file-upload {
    margin-bottom: 20px;
}

.file-upload input[type="file"] {
    display: none;
}

.file-upload .file-label {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
    position: relative;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: black;
    box-sizing: border-box;
}

.file-upload .file-label i {
    color: #ffcb45;
    font-size: 20px;
    margin-right: 10px;
}

.file-upload .file-label span {
    color: black;
}


button.login {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    background: #ffcb45;
    color: #16213E;
    font-weight: 600;
}

button.login:hover {
    background-color: #e9a209;
}