.notas {
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.notas-chef {
    width: 500px;
    height: auto;
}

.notas .section-subtitle {
    font-size: 3rem;
}

.notas-content {
    width: 50%;
}

.feedbacks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 35px;
}

.feedback {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.feedback-avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.feedback-content {
    flex: 1;
}

.feedback-content p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    color: #000;
    margin-bottom: 6px;
}

.feedback-content p span {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
    color: #e9a209;
}

.feedback-content span {
    margin-left: 0;
}

.feedback-content p+p {
    font-style: italic;
    color: #333;
}

@media screen and (max-width: 1170px) {
    .notas {
        flex-direction: column;
    }

    .notas .section-subtitle {
        text-align: center;
        font-size: 2.5rem;
    }

    .notas-chef {
        display: none;
    }

    .notas-content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .notas .section-subtitle {
        font-size: 2rem;
    }

    .notas-content {
        width: 100%;
    }

    .feedback {
        flex-direction: column;
        text-align: center;
    }

    .feedback-content p {
        justify-content: center;
        flex-direction: column;
    }

    .feedback-content p span {
        justify-content: center;
    }
}